<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link href="https://bootswatch.com/5/sketchy/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Welcome to PetFax</h1>
    <div class="row row-cols-sm-2 row-cols-md-4 d-flex justify-content-center align-items-center">
        {% for pet in pets %}

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ pet.pet_photo }}" class="card-img-top" alt="{{ pet.pet_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pet.pet_name }}</h5>
                    <a href="/pets/{{ pet.pet_id }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container my-3">
        <p>We'd love to learn more fun facts</p><a href="/pets/facts">submit your here</a>
    </div>
</body>

</html>